<div class="card">
  <div class="card-header" id="qonto">
    <h5 class="mb-0">
      Connexion à Qonto
    </h5>
  </div>

  <div>
    <%= form_for @changeset, Routes.app_path(@conn, :new), fn(f) -> %>
      <%= render "form.html", f: f %>
    <% end %>
  </div>
</div>
