$primary:   #6b5aed;
$secondary: #ed6b5a;
$success:   #04B000;
$pending: #FFD700;

// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;
