<%= render CapsensQontoWeb.SharedView, "navbar.html" , conn: @conn, current_user: @current_user %>

<section class="container spacer">
  <div class="row">
    <div class="mt-4 col-3 col-md-1 d-flex">
      <%= render "index/svg_checkmark.html" %>
    </div>
    <div class="mt-4 col-9 col-md-11 d-flex">
      <h2 class="h4 my-auto pt-1">Connexion à Slack opérationnelle</h2>
    </div>
  </div>
</section>

<%= render "index/integrations.html",  conn: @conn, integrations: @integrations %>
