<div class="card">
  <div class="card-header" id="qonto">
    <h5 class="mb-0">
      Connexion à Qonto
    </h5>
  </div>

  <div>
    <%= form_for @changeset, Routes.integration_path(@conn, :create), fn(f) -> %>
      <%= render "form.html", f: f, current_user: @conn.assigns[:current_user] %>
    <% end %>
  </div>
</div>
